$background: #0c0f13;

.gallery {
    border-radius: 10px;
    box-shadow: 8px 8px 30px #8ec5fc, -8px -8px 30px #e0c3fc;
    padding: 0.5em 1em;
    margin: 3em 0;
    background: $background;
    img {
    }
}
