$background: #0c0f13;
$aHovered: #ff0033;
$textColor: #444;

.footer {
    width: 100vw;
}

.footer_a {
    text-decoration: none;
    border-bottom: dotted 1px;
    color: $textColor;
    transition: color 0.5s;
    &:hover {
        color: $aHovered;
    }
}
