@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

$cyan: hsla(180, 100%, 50%, 0.5);
$orange: #ff8e1e;
$textColor: #bcbcbc;

header {
    text-align: center;
    width: 100vw;
    height: 100vh;
    .title {
        font-family: 'Audiowide', sans-serif;
        text-shadow: -2px 0 $orange, 2px 0 $cyan;
        color: hsla(0, 0%, 0%, 0);
        cursor: default;
        user-select: none;
    }
    ul {
        display: flex;
        justify-content: center;
        a {
            color: $textColor;
            .twitter {
                &:hover {
                    color: rgb(29, 161, 242);
                }
            }
            .github {
                &:hover {
                }
            }
        }
    }
}
