@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Raleway:wght@500&display=swap');
$orange: #ff8e1e;
$background: #efefef;
$section_back_color: #fff;
$red: hsla(0, 100%, 50%, 0.5);
$cyan: hsla(180, 100%, 50%, 0.5);
$textColor: #444444;
$aHovered: #33ff00;
$shadowColor: #8b8b8b;

*,
::after,
::before {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'M PLUS Rounded 1c', sans-serif;
    color: $textColor;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.25em;
}

#root {
    width: 100vw;
    overflow: hidden;
    background-color: #d9afd9;
    background-image: linear-gradient(
            0deg,
            #ffe0ff 0%,
            #97d9e1 50%,
            #ffffff 100%
    );
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
    color: #404040;
}

ul {
    list-style: none;
    padding-left: 0;
}

@mixin section_style {
    @for $value from 1 through 2 {
        #section_#{$value} {
            background-color: $section_back_color;
            box-shadow: 2px 2px 20px $shadowColor;
            @if $value == 1 {
                transform: skew(0deg, -3deg);
                .wrapper {
                    transform: skew(0deg, 3deg);
                    width: 70%;
                    margin: 0 auto;
                }
            }
            @if $value == 2 {
                transform: skew(0deg, 3deg);
                .wrapper {
                    transform: skew(0deg, -3deg);
                    width: 70%;
                    margin: 0 auto;
                }
            }
        }
    }
}

#main {
    text-align: left;
    @include section_style;
    a {
        text-decoration: none;
        border-bottom: dotted 1px;
        color: $orange;
        transition: color 0.5s;
        &:hover {
            color: $aHovered;
        }
    }
}

#section_1,
#section_2 {
    position: relative;
    margin: 10% 0;
    padding: 80px 0;
}
